/* Mobile Styles ------------------------------->*/


/* Base */  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Layout */
.header {
    font-family: Arial, Helvetica, sans-serif;
}
/* Blocks */

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1rem;
    margin: 1em;
    margin-right: 3em;
}
.navbar-links {
    width: 100%;
    /* display: flex; */
    display: none;
}

.navbar-links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.navbar-links li {
    list-style: none;
    width: 100%;
    
}

.navbar-links li:hover {
    background-color: #555;
}

.navbar-links a {
    width: 100%;
    text-decoration: none;
    color: white;
    /* padding: 1rem; */
    font-size: .75rem;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25px;
    height: 21px;
}

.toggle-button .bar {
    display: inline-block;
    height: 3px;
    width: 100%;  
    background-color: white;
}

.navbar-links.active {
    display: flex;
}

/* Desktop Styles -------------------------------> */

@media (min-width: 550px) {
    .toggle-button{
        display: none;
    }
    .brand-title {
        margin: 0;
        padding: 0;
    }
    .navbar {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .navbar-links{
        display: flex;
        justify-content: center;
        width: auto;
        padding: 1em;
    }
    .navbar-links ul {
        flex-direction: row;
        width: 150px;
    }
}